.board-wrapper
{
	min-height: (($card-small-width * 5) + ($card-small-height * 2)) + 4;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	background: $bunq-color-gray;
	width: (($card-small-width * 9) + ($card-small-height * 2)) + 4;
	max-width: (($card-small-width * 9) + ($card-small-height * 2)) + 4;
	min-width: (($card-small-width * 9) + ($card-small-height * 2)) + 4;
	position: relative;
	border: 2px solid $bunq-color-gray;

	&__row
	{
		width: 100%;
		float:left;


		&--big
		{
			height: $card-small-width * 5;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__col
	{
		display: flex;
		flex-direction: column;
	}

	&__middle
	{
		position: relative;
		z-index: 9999;
		flex:1;
		justify-content: center;
		display: flex;
		background-color: $bunq-color-gray;
	}

	&__logo
	{
		align-self: center;

		svg
		{
			width:250px;
		}
	}

	&__chancecards
	{
		transform: rotate(10deg);
		position: absolute;
		left: 110px;
		top: 130px;

		svg
		{
			width: 170px;
		}
	}

	&__message
	{
		z-index:99999;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display:flex;
		justify-content: center;

		span
		{
			top:-200px;
			position: absolute;
			font-family: 'Montserrat', Arial, sans-serif;
			font-size: 60px;
			background: rgba(255,255,255,0.9);
			padding:0 1rem;
		}
	}


	&__player-icon {
		position: absolute;
		box-shadow: 2px 2px 10px -3px #000;
		z-index: 9999;
		width: $card-player-icon-width;
		min-width: $card-player-icon-width;
		max-width: $card-player-icon-width;
		height: $card-player-icon-width;
		min-height: $card-player-icon-width;
		max-height: $card-player-icon-width;
		border-radius: 100%;
		border: 2px solid $bunq-color-gray;

		display: flex;
		justify-content: center;
		align-items: center;

		transition: left 1s, top 1s;

		span {
			margin-top:1px;
			color: white;
			font-family: 'Montserrat', Arial, sans-serif;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 16px;
		}

		@each $color, $hex in $bunq-colors {
			&--#{$color} {
				background-color: $hex;
			}
			&--none {
				background-color: white;
			}
		}
	}
}