.property
{
	background-color: #fcfcfc;
	$g: &;
	float:left;
	border-radius: 0;
	border: 0;
	display:flex;
	position: relative;

	&--small
	{
		flex-direction: column;
		width: $card-small-width;
		height: $card-small-height;

		#{$g}__svg
		{
			svg
			{
				width: $card-small-width;
			}

			text
			{
				fill: black;
			}
		}
	}

	&__content
	{
		position: relative;
		flex:1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&--small-rotated
	{
		width: $card-small-height;
		height: $card-small-width;

		#{$g}__svg {
			svg {
				width: auto;
				height: $card-small-width;
			}
		}
	}

	&--big
	{
		width: $card-big-width;
		height: $card-small-height;

		#{$g}__svg
		{
			svg
			{
				width: $card-big-width;
				height: $card-big-width;
			}
		}

		&:after
		{
			position: absolute;
			content: '';
			height: $card-header-height;
			width: $card-header-height;
			background-color: $bunq-color-gray;
		}

		&-tl:after
		{
			border-top-left-radius: 1rem;
			bottom:0;
			right: 0;
		}
		&-tr:after
		{
			border-top-right-radius: 1rem;
			bottom:0;
			left: 0;
		}
		&-bl:after
		{
			border-bottom-left-radius: 1rem;
			top:0;
			right: 0;
		}
		&-br:after
		{
			border-bottom-right-radius: 1rem;
			top:0;
			left: 0;
		}
	}

	&__header
	{
		width: 100%;
		height: $card-header-height;
		min-height: $card-header-height;
		max-height: $card-header-height;

		&--none
		{
			display:none;
		}

		&--rotated
		{
			width: $card-header-height;
			height: $card-small-width;
			min-width: $card-header-height;
			max-width: $card-header-height;
			min-height: unset;
			max-height: unset;
			position: relative;

			.card__name {
				display: block;
				position: absolute;
				width: $card-small-width;
			}
		}

		@each $color, $hex in $bunq-colors {
			&--#{$color}
			{
				background-color: $hex;
			}
			&--none
			{
				background-color: white;
			}
		}
	}

	&--top
	{
		flex-direction: column-reverse;

		#{$g}__content
		{
			display: flex;
			flex-direction: column-reverse;
		}
	}

	&--rotated-right
	{
		flex-direction: row;
	}

	&--rotated-left
	{
		display: flex;
		flex-direction: row-reverse;

		#{$g}__content
		{
			display: flex;
			flex-direction: row-reverse;
		}
	}


	.b-left
	{
		border-left: 2px solid $bunq-color-gray;
	}
	.b-right
	{
		border-right: 2px solid $bunq-color-gray;
	}
	.b-top
	{
		border-top: 2px solid $bunq-color-gray;
	}
	.b-bottom
	{
		border-bottom: 2px solid $bunq-color-gray;
	}

}